### Lists

https://www.w3schools.com/python/python_ref_list.asp

In [1]:
"""
Record marks of 10 students
"""

s1 = int(input('Marks: '))
s2 = int(input('Marks: '))
s3 = int(input('Marks: '))
s4 = int(input('Marks: '))

avg = (s1 + s2 + s3 + s4)/4
print(avg)

Marks:  95
Marks:  73
Marks:  84
Marks:  91

85.75

In [3]:
# 1. Loop: To record repetitively the marks of the student
# 2. Data Structure: List -> Collection of different objects

"""
List:

a. List Definition
- <list_name> = [<int1>, <int2>, <string1>]
class_marks = [55, 63, 77]
- <list_name> = []

b. Methods/Ops on top of the list
<list_name>.<function_name>(<argument>)
append() : add to the end of the list

"""

class_marks = [] # defining an empty list

for i in range(4):
  single_student_marks = int(input('Marks: ')) # each iteration, the variable gets over-written
  class_marks.append(single_student_marks)

print(class_marks)

Marks:  1
Marks:  2
Marks:  3
Marks:  4

[1, 2, 3, 4]

In [4]:
# 1. Loop: To record repetitively the marks of the student
# 2. Data Structure: List -> Collection of different objects

"""
List:

a. List Definition
- <list_name> = [<int1>, <int2>, <string1>]
class_marks = [55, 63, 77]
- <list_name> = []

b. Methods/Ops on top of the list
<list_name>.<function_name>(<argument>)
append() : add to the end of the list

"""

class_marks = [] # defining an empty list

for i in range(4):
  single_student_marks = int(input('Marks: ')) # each iteration, the variable gets over-written
  class_marks.append(single_student_marks)
  print('Class Marks at iter ', i, ' ', class_marks)


#print(class_marks)

Marks:  90

Class Marks at iter  0   [90]

Marks:  75

Class Marks at iter  1   [90, 75]

Marks:  77

Class Marks at iter  2   [90, 75, 77]

Marks:  84

Class Marks at iter  3   [90, 75, 77, 84]

In [5]:
"""
Index: Location of an element
- Starts with 0

List: [90, 75, 77, 84]
Index: 0,  1,   2,  3

Access: <list_name>[<index>]
"""

print(class_marks[0])

90

In [6]:
"""
Iterate through the list

# Style 1
len(): number of items in the object

# Style 2
"""

print('Style 1')
list_len = len(class_marks)
for i in range(list_len):
  # i: index, i is iterating through the length -> 0, (list_len-1)
  print(i, class_marks[i])

print('Style 2')
for elem in class_marks:
  # i: iterating through the list
  print(elem)

Style 1
0 90
1 75
2 77
3 84
Style 2
90
75
77
84

In [7]:
"""
Update marks of student, given by index 2
IMMUTABLE!
"""
print('Before: ', class_marks[2])

class_marks[2] = class_marks[2] + 5 #update

print('After: ', class_marks[2])

Before:  77
After:  82

In [8]:
print(class_marks)

[90, 75, 82, 84]

In [9]:
"""
Operations/Methods on the list

"""
class_marks.sort(reverse=True)
print(class_marks)

[90, 84, 82, 75]

In [10]:
"""
List -> Combination of any number of datatypes
"""

new_list = [5, 6, "meow", 7, 7.2]

In [12]:
#new_list.sort()
#TypeError: '<' not supported between instances of 'str' and 'int'

### String

In [14]:
"""
String: Collection of characters

char: alphabet, number, math-op (+,-,%),
anything on your keyboard
"""

a = "Hello"
b = """asdasdasd
fnrjkjfs
asdjasjnd
"""

In [17]:
print('Style 1')
string_len = len(a)
for i in range(string_len):
  # i: index, i is iterating through the length -> 0, (list_len-1)
  print(i, a[i])

Style 1
0 H
1 e
2 l
3 l
4 o

In [18]:
print('Style 2')
for elem in a:
  # i: iterating through the string
  print(elem)

Style 2
H
e
l
l
o

In [19]:
"""
String Methods
<string_name>.<function_name>(<arguments>)
"""

txt = "CompanyX2"
x = txt.isalpha()
print(x)

False

In [20]:
mylist = ["John", "Peter", "Vicky"] #list of strings
x = "#".join(mylist)
print(x)

x = " ".join(mylist)
print(x)

John#Peter#Vicky
John Peter Vicky

In [21]:
str1 = "John"
str2 = "Peter"

x = str1 + "#" + str2 + "#Vicky" # concat
print(x)

John#Peter#Vicky

In [22]:
# String are immuatable
# CAN'T do: str1[2] = 'a' => No update operation!

In [23]:
"""
Slicing: Choose a subset of the string

<string_name>[start:end] -> pick chars from start to end-1
"""

print(str1[0:2]) # start to end-1
print(str1[:2]) # 0 to end-1
print(str1[2:]) # start to full_string_length (last index)

Jo
Jo
hn